* {
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
:root{
    --primary-nav-color: #38b974;
    --secondary-nav-color:  #319960;
}

.list{
    list-style: none;
    font-size: 0;
    
}
.list-item{
    position: relative;
    background-color: var(--primary-nav-color);

    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    color: white;
}
.sub-list{
    position: absolute;
    display: none;
    padding: 0;

    top: 100%;
    left: 0;
    right: 0;
}
.sub-list-item{
    position: relative;
    background-color: var(--primary-nav-color);
   
}
.sub-list-women{
    position: absolute;
    display: none;
    padding: 0;

    top: 0;
    left: 100%;
    
}
.link{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    border: 1px solid var(--secondary-nav-color);
    padding: 10px 20px;
    min-width: 150px;
 
}
.list-item:hover{
    background-color: var(--secondary-nav-color);
}
.sub-list-item:hover{
    background-color: var(--secondary-nav-color);
}

.list-item:hover> .sub-list {
    display: block;
}
.sub-list >.sub-list-item:hover> .sub-list-women{
    display: block;
}
p {
    margin: 10vh;}